.section {
  composes: short-section from global;
  background: #5cc6be;
}

.inner {
  composes: padding-global-2 from global;
}

.panel {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-20);
  padding: var(--sp-0);
  background: transparent;
}

.card {
  position: relative;
  display: grid;
  gap: var(--gap-8);
  padding: var(--sp-20);
  justify-items: center;
  text-align: center;
  background: transparent;
}

.value {
  composes: h2 from global;
  margin: var(--sp-0);
  color: var(--c-text-10_10_10);
}

.label {
  composes: h3 from global;
  margin: var(--sp-0);
  font-weight: var(--fw-400);
}

@media (min-width: 768px) {
  .panel {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--gap-24);
  }
}

@media (min-width: 1024px) {
  .panel {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: var(--gap-24);
  }

  .card:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(var(--gap-12) * -1);
    transform: translateY(-50%);
    width: var(--sp-1);
    height: min(72%, 120px);
    background: linear-gradient(
      to bottom,
      rgb(10 10 10 / 0),
      rgb(10 10 10 / 0.24),
      rgb(10 10 10 / 0)
    );
  }
}
